<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/stylesInicio.css">
</head>


<body>
    <div class="container">
        <div class="header1">
        <header>Administraor de empleados </header>
    </div>
        <div class="links">
            <div class="b">
            <a id="a1" href="">Inicio</a>
            <a id="a2" href="">Trabajadores</a>
            <a id="a3" href="">Contactos</a>
        </div>
        </div>




    </div>






</body>

</html>